[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "pytorch"
verify_ssl = false
name = ""

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
diffusers = {extras = ["torch"], version = "*"}
transformers = "*"
torch = {version = "==1.12.0+cu116", index = "downloadpytorch"}

[dev-packages]

[requires]
python_version = "3.10"
